export(approxSSM)
export(artransform)
export(fitSSM)
export(importanceSSM)
export(is.SSModel)
export(KFS)
export(ldl)
export(signal)
export(simulateSSM)
export(SSMarima)
export(SSMcustom)
export(SSMcycle)
export(SSModel)
export(SSMregression)
export(SSMseasonal)
export(SSMtrend)
export(transformSSM)
S3method("[",SSModel)
S3method("[<-",SSModel)
S3method("subset<-",SSModel)
S3method(logLik,SSModel)
S3method(predict,SSModel)
S3method(print,KFS)
S3method(print,SSModel)
S3method(residuals,KFS)
S3method(subset,SSModel)
useDynLib(KFAS,.registration=TRUE)
